<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Update Student</h1>
    </header>
    <main>
    <div class = "rowshow">
        <div class="col-md-4">
            <form action ="" >
                <div class="input">
                    <input type="text" id="name" name = "name" placeholder="Name">
                </div class="input">
                <div class="input">
                    <input type="text" id="weight" name = "weight" placeholder="Weight (KG)">
                </div>
                <div class="input">
                    <input type="text" id="height" name = "height" placeholder="Height (cm)">
                </div>
                <div class="input">
                    <label for="haircolor">Hair Color:</label>
                    <select id="haircolor" name="haircolor">
                        <option value="black">black</option>
                        <option value="brown">brown</option>
                        <option value="blond">blond</option>
                        <option value="yellow">yellow</option>
                        <option value="gold">gold</option>
                      </select></div>
                 <div class="input">
                    <input type="text" id="gpa" name = "gpa" placeholder="GPA">
                </div>
                <div class="d-grid gap-2">
                    <input class="btn btn-primary" type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
    </main>

</body>
</html>